 body, html {
        height: 100%;
        background-color: #F8F7FA;
    }
      .splash {
        background-image:url(web_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        max-width: 100%;
      }

      .countdown-block{
        text-align: center;
        color:white;
        width:8vmax;
      }

      .label{
        color:white;
        display:block;
    }

    #buyticket_btn, #info_btn{
        width:45vmax;
    }



     @media only screen and (max-width: 576px) {

          .countdown-block{
            font-size:14px;
          }

          .label{
            font-size:20px;
          }

          #buyticket_btn, #info_btn{
            width:45vmax;
        }
        .speakerTitle{
            font-size:4vmax;
        }

    }

    @media only screen and (min-width: 576px) {

          .countdown-block{
            font-size:14px;
          }

          .label{
            font-size:20px;
          }

          #buyticket_btn, #info_btn{
            width:25vmax;
        }

        .speakerTitle{
            font-size:4vmax;
        }

    }

    @media only screen and (min-width: 992px) {

          .countdown-block{
            font-size: 20px;
          }

          .label{
            font-size: 26px;
          }

          #buyticket_btn, #info_btn{
            width:25vmax;
        }

        .speakerTitle{
            font-size:2vmax;
        }

    }
     

      .navbar{
            background-color: rgba(255, 255, 255, 0.6);
      }

      .btn-outline-white{
            border-color:#ffffff;
            color:#ffffff;
        }

       #oywlogo{
            width: 40vmax;
       }

       .trebuchet{
            font-family: "Trebuchet MS", Helvetica, sans-serif;
       }

       #buytickets_title, #abouttitle, #oywtitle{
            font-size: 4vmax;
       }

       #buytickets_pg, #about_pg{
            background-color:#F8F7FA;
       }

       #video{
            width:53.1vmax;  /* 1.77 */
            height:30vmax;   /*  1   */ 
       }

       .no-gutters {
          margin-right: 0;
          margin-left: 0;

          > .col,
          > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
          }
        }

        .neg-margin{
            margin-bottom:-5px;
        }

        .deposit_text{
          background-color: #e9ecef;
          border-radius: .3rem;
          margin-bottom: 2rem;
          padding: 2rem 0rem 1rem;
          border: 1px red solid;
        }

        .img-wrapper-healthdevelopmentpanel img{
          height:255px;
          width:255px;
        }

        .refund_text{
          color:red;
        }


